.quizzes .card {
    height: 378px;
    width: 332px;
    background-color: #212121;
    align-items: center;
    margin: 0 auto;
    float: none; 
    justify-content: center;
}


.quizzes img {
    height: 330px;
    width: 330px;
    border-radius: 3px;
    border-bottom: 1px solid #23d997;
    object-fit: cover;
}

.level1 {
    padding: 15px;
}
.level2 {
    padding: 8px;
}



.quizzes {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 3px solid #23d997;
    padding-bottom: 15px;
}

.jumbotron {
    background: #1b1b1b;
    background-image: url("../img/space.jpg");
    border-bottom: 3px solid #23d997;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .quizzes {
        padding-left: 5px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .quizzes {
        padding-left: 25px;
        padding-right: 75px;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .quizzes {
        padding-left: 55px;
    }
 }