.air-field{
    position: relative;
    margin-top:2em;
    background:gray;
}

.ship-item{
    position: relative;
    width:150px;
    height:150px;
    border:1px solid black;
    background-size:contain;
    background-repeat: no-repeat;    
    box-shadow: 5px 5px 7px black;
    margin-bottom:.5em;
}